body {
    font-family: Helvetica;
}

#header {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

/*
#text, #visualization {
    display: inline-block;
}
*/

#header h5 {
    margin-top: 1rem;
    font-size: 0.9rem;
}
#description {
    width: 850px   ;
    vertical-align: top;
    margin: 0 auto;

}

#description p {
    margin-left: 2rem;
}
#visualization_1, #visualization_2, #visualization_3 {
    width: 850px;
    margin: 0 auto;
    border: 1px black solid;
    text-align: center;
    height: 450px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#visualization_1, #visualization_2 {
    position: relative;
}






    
/*#section_1 p, #sec1_img{
	display: inline-block;
}*/

.flex_cont {
	display: flex;
}

.species_description {
/*    visibility: hidden;
    .opacity: 0;*/
}
.species_description h4, .species_description h6, .species_description img {
    display: inline-block;
}

.species_description h6, img{
    font-size: 1rem;
    float: right;
}



#section_1 p {
/*	width: 55%;
*//*	margin-right: 1rem;
*/}

#sec1_img, #sec2_img {
	width: 100%;
}

#sec2_img_1, #sec2_img_2 {
	width: 100%;
	height: 200px;
	border: solid black 1px;

}

#section_2 p {
    margin-right: 1rem;
}

#sp_1, #sp_2 {
    text-align: left;
    position: absolute;
    width: 330px;
    border: solid red 1px;
    height: 170px;
    padding: 0.6rem;

    left: 505px;
}

#sp_1 {
    top: -100px;
    opacity: 0;
}

#sp_2 {
    top: 490px;
    opacity: 0;
}

#sp_1 h4, #sp_2 h4 {
    font-size: 1.25rem;
}

#sp_1 p, #sp_2 p {
    font-size: 0.85rem;
}

.node {
    cursor: pointer;
}

#image_tooltip {
    position: absolute;
    padding: 0.3rem;
    border-radius: 3px;

    width: 75px;
    height: 75px;
    background-image: url('../img/cow.png');
    background-size: contain;
    opacity: 0;
}


.related_genes {
    position: absolute;
    top: 215px;
    left: 550px;
}

#rg_right {
    left: 730px;
    top: 200px;
    width: 70px;
    height: 100px;

    opacity: 0;
}

#com_ances {
    border: solid 1px red;
    position: absolute;

    width: 150px;
    height: 75px;

    opacity: 0;

    top: 25px;
    left: 25px;
    padding: 1rem;
}

#com_ances h5 {
    font-size: 1.1rem;
}

#com_ances h6 {
    font-size: 0.9rem;
}